<link rel="icon" type="image/png" href="{{ relURL "favicon.png" }}" />
<link rel="icon" type="image/png" href="{{ relURL "my-favicon/favicon-96x96.png" }}" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{{ relURL "my-favicon/favicon.svg" }}" />
<link rel="shortcut icon" href="{{ relURL "my-favicon/favicon.ico" }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ relURL "my-favicon/apple-touch-icon.png" }}" />
<link rel="manifest" href="{{ relURL "my-favicon/site.webmanifest" }}">
