{{ define "main" }}
<div class="layout-container">
  <aside class="toc-sidebar">
    <nav id="TableOfContents" class="toc">
      {{ .TableOfContents }}
    </nav>
  </aside>
  <main class="main-content">
    <h1>{{ .Title }}</h1>
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    <div class="content">
      {{ .Content }}
    </div>
    <div class="post-content">
      {{ .Content }}
    </div>
    <!-- Add comments section -->
    {{ if ne .Params.comments false }}
      {{ if .Site.Params.comments.remark42.enabled }}
        {{ partial "comments/remark42.html" . }}
      {{ end }}
    {{ end }}
  </main>
  <aside class="sidenote-section">
    <!-- Sidenotes will be collected and placed here -->
  </aside>
</div>

{{/* Conditionally include toc.js if TOC is enabled in front matter */}}
{{ if .Params.toc }}
  {{ $tocJS := resources.Get "js/toc.js" | minify | fingerprint }}
  <script src="{{ $tocJS.RelPermalink }}" integrity="{{ $tocJS.Data.Integrity }}" crossorigin="anonymous"></script>
{{ end }}

{{/* Conditionally include sidenote.css if sidenotes are enabled in front matter */}}
{{ if .Params.sidenotes }}
  {{ $sidenoteCSS := resources.Get "css/components/sidenote.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $sidenoteCSS.RelPermalink }}" integrity="{{ $sidenoteCSS.Data.Integrity }}" crossorigin="anonymous">
{{ end }}

{{/* Include sidenotes.js if sidenotes are enabled in front matter */}}
{{ if .Params.sidenotes }}
  {{ $sidenotesJS := resources.Get "js/sidenotes.js" | minify | fingerprint }}
  <script src="{{ $sidenotesJS.RelPermalink }}" integrity="{{ $sidenotesJS.Data.Integrity }}" crossorigin="anonymous"></script>

  {{/* Remove or comment out the sidenotes-positioning.js inclusion */}}
  {{/* 
  {{ $sidenotesPositionJS := resources.Get "js/sidenotes-positioning.js" | minify | fingerprint }}
  <script src="{{ $sidenotesPositionJS.RelPermalink }}" integrity="{{ $sidenotesPositionJS.Data.Integrity }}" crossorigin="anonymous"></script>
  */}}
{{ end }}
{{ end }}
