.about-profile-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem 0;
}

.about-left-column {
  flex: 1;
  min-width: 200px;
}

.about-right-column {
  flex: 3;
  min-width: 300px;
}

.profile-image img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.5rem;
  justify-content: center;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-primary);
  transition: color 0.3s;
}

.social-links a:hover {
  color: var(--color-primary);
}

.interests-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.interests-columns ul {
  flex: 1;
  min-width: 200px;
}

h2 {
  margin-top: 2rem;
}
