a {
  color: var(--link-color); /* Use variable for link color */
  text-decoration: none;
}

main {
  background-color: var(--main-bg-color); /* Use main background color */
  padding: var(--main-padding); /* Use main padding */
  color: var(--main-text-color); /* Use main text color */
}
