<head>
    {{ partial "head/meta.html" . }}
    {{ partial "head/favicons.html" . }}
    {{ partial "head/critical-css.html" . }}
    {{ partial "head/styles.html" . }}
    
    <!-- JavaScript loading -->
    {{ with resources.Get "js/main.js" }}
        {{ $mainJS := . | js.Build | minify | fingerprint }}
        <script src="{{ $mainJS.RelPermalink }}" integrity="{{ $mainJS.Data.Integrity }}" crossorigin="anonymous"></script>
    {{ end }}
    
    <!-- PDF Generator -->
    {{ $pdfJS := resources.Get "js/pdf-generator.js" | minify | fingerprint }}
    <script src="{{ $pdfJS.RelPermalink }}" integrity="{{ $pdfJS.Data.Integrity }}" crossorigin="anonymous" defer></script>
    
    <!-- Load scrollbar fade functionality -->
    {{ $scrollbarFadeJS := resources.Get "js/scrollbar-fade.js" | minify }}
    <script src="{{ $scrollbarFadeJS.RelPermalink }}" defer></script>

    <!-- Include analytics scripts -->
    {{ partial "analytics.html" . }}
</head>