<!-- layouts/partials/search.html -->
<form action="/search" method="get" class="position-relative" style="max-width: 300px;">
  <span class="bi bi-search position-absolute start-0 top-50 translate-middle-y ps-3 text-muted"></span>
  <input id="search-input" type="search" class="form-control ps-5 pe-5" placeholder="Search" aria-label="Search" name="q">
  <span id="clear-search" class="bi bi-x-lg position-absolute end-0 top-50 translate-middle-y pe-3 text-muted" style="cursor: pointer; display: none;"></span>
</form>
