{{ define "main" }}
  {{ with resources.Get "css/404.css" }}
    {{ $css404 := . | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $css404.RelPermalink }}" integrity="{{ $css404.Data.Integrity }}" crossorigin="anonymous">
  {{ end }}

  <div class="error-content">
    <h1>{{ T "NotFoundTitle" }}</h1>
    <p>{{ T "NotFoundMessage" }}</p>
    <p>
      <a href="{{ .Site.Home.RelPermalink }}">
        {{ T "NotFoundReturnHome" }}
      </a>
    </p>
  </div>

  <div id="animation-container"></div>

  {{ partial "404/vendor-script.html" (dict
    "local"  "js/vendor/three.min.js"
    "remote" "https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"
    "name"   "three.js")
  }}
  {{ partial "404/vendor-script.html" (dict
    "local"  "js/vendor/cannon.min.js"
    "remote" "https://cdnjs.cloudflare.com/ajax/libs/cannon.js/0.6.2/cannon.min.js"
    "name"   "cannon.js")
  }}

  {{/* Loaded after vendor scripts via defer ordering. */}}
  {{ with resources.Get "js/404-cube.js" }}
    {{ $cube := . | js.Build (dict "minify" true) | fingerprint }}
    <script src="{{ $cube.RelPermalink }}" integrity="{{ $cube.Data.Integrity }}" crossorigin="anonymous" defer></script>
  {{ end }}
{{ end }}
