{{- $images := slice -}}

{{- /* Check if we have individual image parameters (src1, src2, etc.) */ -}}
{{- $hasIndividualParams := false -}}
{{- range $i := seq 1 10 -}}
  {{- $srcParam := printf "src%d" $i -}}
  {{- if $.Get $srcParam -}}
    {{- $hasIndividualParams = true -}}
    {{- break -}}
  {{- end -}}
{{- end -}}

{{- if $hasIndividualParams -}}
  {{- /* Build images from individual parameters */ -}}
  {{- range $i := seq 1 10 -}}
    {{- $srcParam := printf "src%d" $i -}}
    {{- $altParam := printf "alt%d" $i -}}
    {{- $captionParam := printf "caption%d" $i -}}
    {{- $thumbParam := printf "thumb%d" $i -}}
    {{- $src := $.Get $srcParam -}}
    {{- if $src -}}
      {{- /* Process image URL to handle base URL properly */ -}}
      {{- $processedSrc := $src -}}
      {{- if hasPrefix $src "/" -}}
        {{- $processedSrc = $src | absURL -}}
      {{- end -}}
      {{- $image := dict "src" $processedSrc -}}
      {{- if $.Get $altParam -}}
        {{- $image = merge $image (dict "alt" ($.Get $altParam)) -}}
      {{- end -}}
      {{- if $.Get $captionParam -}}
        {{- $image = merge $image (dict "caption" ($.Get $captionParam)) -}}
      {{- end -}}
      {{- if $.Get $thumbParam -}}
        {{- /* Process thumbnail URL as well */ -}}
        {{- $thumbSrc := $.Get $thumbParam -}}
        {{- if hasPrefix $thumbSrc "/" -}}
          {{- $thumbSrc = $thumbSrc | absURL -}}
        {{- end -}}
        {{- $image = merge $image (dict "thumb" $thumbSrc) -}}
      {{- end -}}
      {{- $images = $images | append $image -}}
    {{- end -}}
  {{- end -}}
{{- else -}}
  {{- /* Try to get images from frontmatter or as a slice */ -}}
  {{- $imagesParam := .Get "images" -}}
  {{- if $imagesParam -}}
    {{- if reflect.IsSlice $imagesParam -}}
      {{- /* Process URLs in slice images as well */ -}}
      {{- $processedImages := slice -}}
      {{- range $imagesParam -}}
        {{- $image := . -}}
        {{- if .src -}}
          {{- if hasPrefix .src "/" -}}
            {{- $image = merge $image (dict "src" (.src | absURL)) -}}
          {{- end -}}
          {{- if and .thumb (hasPrefix .thumb "/") -}}
            {{- $image = merge $image (dict "thumb" (.thumb | absURL)) -}}
          {{- end -}}
        {{- end -}}
        {{- $processedImages = $processedImages | append $image -}}
      {{- end -}}
      {{- $images = $processedImages -}}
    {{- else -}}
      {{- /* For backward compatibility, try to parse simple cases */ -}}
      {{- $images = slice -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $id := .Get "id" | default "gallery" -}}
{{- $autoplay := .Get "autoplay" | default false -}}
{{- $interval := .Get "interval" | default 5000 -}}
{{- $showThumbnails := .Get "showThumbnails" | default true -}}

{{- /* Convert string booleans to actual booleans */ -}}
{{- if eq $autoplay "true" -}}
  {{- $autoplay = true -}}
{{- else if eq $autoplay "false" -}}
  {{- $autoplay = false -}}
{{- end -}}

{{- if eq $showThumbnails "true" -}}
  {{- $showThumbnails = true -}}
{{- else if eq $showThumbnails "false" -}}
  {{- $showThumbnails = false -}}
{{- end -}}

{{- /* Validate that we have images */ -}}
{{- if $images -}}
  {{- partial "gallery-slider.html" (dict 
    "images" $images 
    "id" $id 
    "autoplay" $autoplay 
    "interval" $interval 
    "showThumbnails" $showThumbnails
  ) -}}
{{- else -}}
  <div class="gallery-slider-error">
    <p>No images provided for gallery "{{ $id }}". Use src1, src2, etc. parameters or define images in frontmatter.</p>
  </div>
{{- end -}}
